html,
body {
  background-color: #222831;
  color: #ececec;
  font-size: 20px;
  height: 100%;
}

a {
  color: #f2a365;
}

a:hover, a:focus {
  color: #f2a365;
  text-decoration: underline;
}

h1,
h2 {
  color: #fff;
}

footer p {
  font-size: 0.75rem;
}

img {
  border-radius: 50%;
  max-width: 25%;
  min-width: 300px;
}

p {
  padding-bottom: 1.5rem
}

