html,
body {
  background-color: #fff;
  color: #383a42;
  font-size: 20px;
  height: 100%;
}

a {
  color: #4078f2;
}

a:hover, a:focus {
  color: #4078f2;
  text-decoration: underline;
}

footer p {
  font-size: 0.75rem;
}

img {
  border-radius: 50%;
  max-width: 300px;
  min-width: 300px;
}

p {
  padding-bottom: 1.5rem
}

